<div id="home-container-1">

	<div id="text-container">
		<span id="name">Menelik Tucker</span>
		<span class="automatic-typing"></span>
	</div>

	<div id="motto">
		<span id="merit">simple. creative. design.</span><br>
		<%= mail_to "meneliktucker@gmail.com", "meneliktucker at gmail dot com", encode: "hex" do %>
		<span>meneliktucker at gmail dot com</span>
		<% end %>
	</div>

	<div id="social-media">
		<%= link_to(image_tag("stackoverflow.png", size:"30x30"), "http://stackoverflow.com/users/4535724/menelik-tucker", target: '_blank', class: 'link' )%>
		<%= link_to(image_tag("github.png", size:"30x30"), "https://github.com/mtuck063", target: '_blank', class: 'link' )%>
		<%= link_to(image_tag("twitter.png", size:"30x30"), "https://twitter.com/MenelikTucker", target: '_blank', class: 'link' )%>
	</div>
</div>

