body{
	margin: 0;
	background-color: #eee;
  font-family: 'Merriweather', serif;
}

.body{
  opacity: 0;
  background-color: #141519;
  margin: auto;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: scroll;
  color: #52576d;
}

a{
  color: #52576d;
}

.no-margin{
  margin: 0 !important;
}

.whitespace{
  height: 10px;
  background-color: #eee;    
}

textarea.materialize-textarea{
  padding: 0.6rem 0;
  color: #ccc;

  &::-webkit-input-placeholder {
      color: #333;
  }
  &:-moz-placeholder {
      color: #333;
  }
  &::-moz-placeholder {
      color: #333;
  }
  &:-ms-input-placeholder {
      color: #333;
  }

}

.hide-on-small-only{
  transition: all 500ms linear;
}

.automatic-typing{
  font: 1.25rem 'Merriweather', serif;
  color: #141519;
  height: 100vh;
  width: 100vw;
  line-height: 100vh;
  text-align: center;


  &::before{
    color: #52576d;
    content: "Menelik Tucker ";
  } 

  &::after{
    font-weight: 300;
    // content: "|";
  }
}

@media screen and (max-width: $small-screen){
  .body{
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (max-width: $medium-screen) {
  .small-row{
    margin-bottom: 20px;
  }
}
